<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="edbad991-2b8a-4a00-813f-31f8a63f3263" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="edbad991-2b8a-4a00-813f-31f8a63f3263fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
